{% load static %}
<footer>
    <div class="row">
        <div class="col-full">

            <div class="footer-logo">
                <a class="footer-site-logo" href="#0"><img src="{% static 'app/img/dev.png' %}" alt="Homepage"></a>
            </div>

            <ul class="footer-social">
                <li><a href="#0">
                    <i class="im im-linkedin" aria-hidden="true"></i>
                    <span>Linkedin</span>
                </a></li>
                <li><a href="#0">
                    <i class="im im-github" aria-hidden="true"></i>
                    <span>GitHub</span>
                </a></li>
            </ul>
                
        </div>
    </div>

    <div class="row footer-bottom">

        <div class="col-twelve">

            <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>

    </div> <!-- end footer-bottom -->

</footer> 