{% load static %}

<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="{% static 'app/img/code.png' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">
            <h1>
                Manuel Allegue <br>
                Desarrollador FullStack  <br>
            </h1>

            <div class="home-content__buttons">
                <a href="#works" class="smoothscroll btn btn--stroke">
                    Mis proyectos
                </a>
                <a href="#about" class="smoothscroll btn btn--stroke">
                    Conóceme
                </a>
            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Desliza hacia abajo</span>
                </a>
            </div>

        </div>

    </div> <!-- end home-content -->

    <ul class="home-social">
        <li>
            <a href="https://www.linkedin.com/in/manuel-allegue-l%C3%B3pez/"><i class="im im-linkedin" aria-hidden="true"></i><span>Linkedin</span></a>
        </li>
        <li>
            <a href="https://github.com/9xDev/"><i class="im im-github" aria-hidden="true"></i><span>GitHub</span></a>
        </li>
    </ul> 
    <!-- end home-social -->

</section> 